/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   mobile first custom styles
   ========================================================================== */
    html {
      font-size: 16px;
   }
   body {
      font-family: 'Open Sans', sans-serif;
      color: #e2e3ed;
      font-size: 1em;
    } 
    a, h3 {
      font-size: 1.125em;
    }
    a{
      color: #e2e3ed;
      font-style: bold;
      text-decoration: none;
    }

    h1, h2, h3, h4 {
      font-family: 'Poppins', sans-serif;
    }
    h1 {
      font-size: 2.25em;
    }
    h2{
      font-size: 1.875em;
    }
    p{
      font-size: 0.875em;
      line-height: 1.125em;
    }
   header, footer{
      display: flex;
      flex-direction: column;
      background-color:#1F2321 ;
    }
    header{
      padding-top: 10px;
    }
    header a{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .unplug-img {
      width: 70%;
      display: flex;
    }
    header nav li {
      list-style: none;
      display: inline-flex;
    }
    header nav ul{
      display: flex;
      justify-content: space-around;
      padding-left: 0;
    }
    header nav a {
      text-decoration: none;
    }
    main{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0;
      text-align: center;
     }
     .form-blurb {
       margin: 0 10px;
     } 
     aside{
       background-color: #527057;
     }
     .reviews, .contact-det{
       background-color: #294139;
     }
     .mission, .faq{
       background-color: #517157;
     }
    address {
      font-style: normal;
      line-height: 0em;
    }

  footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}
.copyright{
  color: #517157;
}
  
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}
/*=================Form==============================================*/
 form{
  margin: 30px 10px 30px 10px; 
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 768px) {
    /*Tablet styles here*/
    header{
      flex-direction: row;
    }
    header a{
      justify-content: flex-start;
      padding-left: 30px;
    }
    .unplug-img {
      width: 30%;
    }
    header nav li {
      list-style: none;
      display: inline-flex;
    }
    main{
      justify-content: space-around;
      flex-flow: row wrap;
     }
     form{
       margin-top: 0px;
     }
    .form-descr{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: flex-start;
    } 
    .form-blurb, form {
      width: 46%;
      box-sizing: border-box;
      padding: 30px;
      
    }
    .feat{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    .feat article {
      width: 50%;
      box-sizing: border-box;
      padding: 30px 100px 30px 100px;
    }
    .reviews {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
    }
    .mission, .faq, .contact-det {
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
    }
    .faq h2{
      width: 100%;
    }
    .reviews article, .mission p, .faq article, .contact-det article{
      width: 50%;
      box-sizing: border-box;
      padding: 30px; 
    }
    footer {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      text-align: center;
      flex-flow: row wrap;
  }
  .contact, .social{
      width: 50%;
      box-sizing: border-box;
      padding: 30px; 
  }
}
  /*========================Desktop Styles ===================*/   
    @media only screen and (min-width: 1200px) {
    /*Desktop styles here*/
    header a{
      padding-left: 110px;
    }
    .form-descr{
      width: 100%;
    }
    .feat article {
      width: 33%;
      box-sizing: border-box;
      padding: 30px 100px 30px 100px;
    }
    .hero-area {
      display: flex;
    }
    .hero-area h2,  .feat h2, .contact-det h2 {
      display: flex;
      width: 1200px;
      justify-content: center;
    }
   .reviews h2 {
      display: flex;
      flex: 1 1 100%;
      justify-content: flex-start;
      padding-left: 110px;
    }
  
  }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

